<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!--==========MENU===========-->
    <menuitem id="main_bi_finance_menu"
              name="Module Décicionnel"
              sequence="4"
              web_icon="bi_finance,static/src/img/icon.png"/>

    <menuitem id="bi_finance_menu" name="Finance"
        parent="main_bi_finance_menu"/>

    <menuitem id="yearly_goal_menu" name="Objectif annuel" parent="bi_finance_menu"
        action="yearly_goal_list_action"/>

    <menuitem id="monthly_goal_menu" name="Objectif mensuel" parent="bi_finance_menu"
        action="monthly_goal_list_action"/>

    <menuitem id="monthly_goal_employee_menu" name="Objectif mensuel par employé" parent="bi_finance_menu"
        action="monthly_goal_employee_list_action"/>
</odoo>